<h3>Hello from Heritage Company</h3>
<p>A new user account with a temporary password has been created for you.</p>
<p>
  Please login using the data below, and <strong>change your password as soon as possible.</strong>
</p>
<br>
<span>Username: <strong>{{ user_name }}</strong></span>
<br>
<span>Password: <strong>{{ temp_passw }}</strong></span>
<br>
<p>
  Click <a href="https://heritage-company-386a48d92bd9.herokuapp.com/">here</a> to return to the store. Then sign in and go to 'My Account' to change your password.
</p>
<p>Thank you for shopping with us!</p>
<br>
<span>Sincerely,</span>
<br>
<span>_______________</span>
<br>
<span>HERITAGE COMPANY</span>
<br>
<span>Exquisite Timepieces. Timeless Heritage.</span>
<br>
<br>
<span class="small"><em>This email and any attachments are confidential and may contain privileged information. If you are not the intended recipient, please notify the sender immediately and delete this email. Unauthorized use, disclosure, or copying is strictly prohibited.</em></span>
<br>
