{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Info -->
    {% include 'includes/meta-info.html' %}
    <!-- CSS Imports -->
    {% include 'includes/css-imports.html' %}
    <title>
      {% block extra_title %}{% endblock %}
      | Heritage Company
    </title>
  </head>
  <body>
    <header class="off-white">
      <!-- Mobile Navbar -->
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg d-md-none off-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo_new.webp' %}"
                 alt="Heritage Company Logo"
                 height="50">
          </a>
          <div class="col-4 px-2 fs-3 d-flex justify-content-evenly align-items-center position-relative">
            <span class="badge rounded-pill bg-warning bag-items-number"
                  style="display: none">{{ items_in_shopping_bag }}</span>
            <a href="{% url 'contact_us' %}"><i class="fa-solid fa-envelope"></i></a>
            <a href="" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="{% if user.is_authenticated %}{% url 'my_account' %}{% else %}{% url 'account_login' %}{% endif %}">
              <i class="fa-solid fa-user-large"></i>
            </a>
            <a href="{% url 'shopping_bag' %}">
              <i class="fa-solid fa-suitcase shopping-bag-icon"></i>
            </a>
          </div>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#heritage-navbar"
                  aria-controls="heritage-navbar"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="heritage-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_products' %}">Our Collection</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="heritage-navbar-dropdown-link"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">Our Products</a>
                <ul class="dropdown-menu dropdown-menu-dark"
                    aria-labelledby="heritage-navbar-dropdown-link">
                  <li>
                    <a class="dropdown-item" href="{% url 'breitling' %}">Breitling</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'tag_heuer' %}">Tag Heuer</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'omega' %}">Omega</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'tissot' %}">Tissot</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'sale' %}">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Medium Screen (768px+) Navbar -->
      <div class="d-none d-md-block">
        <div class="bg-dark d-flex justify-content-center">
          <div class="col-3">
            <a href="{% url 'home' %}">
              <img src="{% static 'assets/images/logo_new.webp' %}"
                   alt="Heritage Company Logo"
                   class="pt-3 ps-3 align-self-start"
                   id="logo">
            </a>
          </div>
          <div class="text-center d-flex flex-column justify-content-center col-6 heading-text">
            <a href="{% url 'home' %}">
              <h1 class="heading-font">Heritage Company</h1>
              <span>
                <em>Luxury Timepieces that form a legacy</em>
              </span>
            </a>
          </div>
          <div class="col-3 p-4 fs-3 align-self-start d-flex justify-content-end">
            <a href="{% url 'contact_us' %}"><i class="fa-solid fa-envelope"></i></a>
            <a href="" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="{% if user.is_authenticated %}{% url 'my_account' %}{% else %}{% url 'account_login' %}{% endif %}">
              <i class="fa-solid fa-user-large"></i>
            </a>
            <div class="position-relative">
              <a href="{% url 'shopping_bag' %}">
                <i class="fa-solid fa-suitcase shopping-bag-icon"></i>
                <span class="badge rounded-pill bg-warning bag-items-number"
                      style="display: none">{{ items_in_shopping_bag }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Sticky Top Navbar with Product links -->
    <div class="d-none d-md-flex justify-content-center text-uppercase bg-black lg-nav">
      <a href="{% url 'all_products' %}" class="d-none d-lg-block">Our Collection</a>
      <a href="{% url 'breitling' %}">Breitling</a>
      <a href="{% url 'tag_heuer' %}">Tag Heuer</a>
      <a href="{% url 'omega' %}">Omega</a>
      <a href="{% url 'tissot' %}">Tissot</a>
      <a href="{% url 'sale' %}">Sale</a>
    </div>
    <!-- Search Bar (initially hidden)-->
    <form id="search-box"
          style="display: none"
          method="post"
          action="{% url 'search' %}">
      <div class="row align-items-center justify-content-center">
        <div class="col-auto position-relative">
          <label for="search-input" class="col-form-label">SEARCH</label>
        </div>
        <div class="col-auto d-flex align-items-center">
          <input type="text" name="search-input" id="search-input">
          <a id="advanced-search-link" href="{% url 'advanced_search' %}">
            <i class="fa-solid fa-list-check ms-2"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Advanced Search With Filters"></i>
          </a>
        </div>
      </div>
      {% csrf_token %}
    </form>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <!-- Extra Newsletter Signup (initially hidden)-->
    {% if show_newsletter_extra_signup %}
      <aside class="d-none d-md-block">
        <div id="hidden-newsletter" style="display: none">
          <div id="newsletter-floating-signup"
               class="col-10 col-md-6 col-lg-4 d-flex flex-column p-4 m-3 animate__animated animate__slideInLeft">
            <strong class="newsletter-signup-heading">STAY IN TOUCH</strong>
            <div id="newsletter-close-button">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <span>
              Gain VIP access to the world of luxury watches and receive
              invitations to private events and notifications of new collections.
            </span>
            <div class="mt-2">
              <span class="small"><em>Tip: Newsletter signups come with a small product discount</em></span>
            </div>
            <form method="post" action="{% url 'newsletter_signup' %}">
              <div class="form-floating mb-3 text-black mt-3">
                <input type="email"
                       class="form-control"
                       id="email-floating-input-extra"
                       placeholder="name@example.com"
                       name="customer_email"
                       required>
                <label for="email-floating-input-extra">Enter your email</label>
              </div>
              <button type="submit" class="btn btn-outline-light">Sign Up</button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </aside>
    {% endif %}
    <!-- Footer -->
    <footer class="bg-dark off-white px-3">
      <div class="d-flex justify-content-evenly pt-4">
        <div class="d-flex flex-column newsletter-footer">
          <!-- Primary (Permanent) Newsletter Signup -->
          <strong class="newsletter-signup-heading">STAY IN TOUCH</strong>
          <span>
            Gain VIP access to the world of luxury watches and receive
            invitations to private events and notifications of new collections.
          </span>
          <div class="mt-2">
            <span class="small"><em>Tip: Newsletter signups come with a small product discount</em></span>
          </div>
          <form method="post" action="{% url 'newsletter_signup' %}">
            <div class="form-floating mb-3 text-black mt-3">
              <input type="email"
                     class="form-control"
                     id="floatingInput"
                     placeholder="name@example.com"
                     name="customer_email"
                     required>
              <label for="floatingInput">Enter your email</label>
            </div>
            <button type="submit" class="btn btn-outline-light">Sign Up</button>
            {% csrf_token %}
          </form>
        </div>
        <div class="d-none d-lg-flex flex-column">
          <strong>SHOP</strong>
          <a href="{% url 'breitling' %}">Breitling</a>
          <a href="{% url 'tag_heuer' %}">Tag Heuer</a>
          <a href="{% url 'omega' %}">Omega</a>
          <a href="{% url 'tissot' %}">Tissot</a>
        </div>
        <div class="d-none d-sm-flex flex-column">
          <strong>HERITAGE COMPANY</strong>
          <a href="{% url 'about' %}">About Us</a>
          <a href="{% url 'contact_us' %}">Contact Us</a>
          <a href="{% url 'all_products' %}">Our Collection</a>
        </div>
        <div class="d-none d-lg-flex flex-column">
          <strong>Navigate</strong>
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'my_account' %}">My Account</a>
          <a href="{% url 'shopping_bag' %}">Shopping Bag</a>
          <a href="{% url 'sale' %}">Discounted Items</a>
        </div>
        <div class="d-none d-lg-flex flex-column text-center">
          <strong>FOLLOW US</strong>
          <a href="https://www.facebook.com"
             target="_blank"
             rel="nofollow noreferrer"><i class="fa-brands fa-facebook fs-3 p-2"></i></a>
          <a href="https://www.instagram.com"
             target="_blank"
             rel="nofollow noreferrer"><i class="fa-brands fa-linkedin fs-3 p-2"></i></a>
        </div>
      </div>
      <div class="text-center py-3">
        <div>
          <!-- Social Links -->
          <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
          <span>|</span>
          <a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>
        </div>
        <span>
          © Copyright 2024 Heritage Company
          <br>
          <a href="https://github.com/leonp84"
             target="_blank"
             rel="nofollow noreferrer">Design by L.A. Potgieter</a>
        </span>
      </div>
    </footer>
    <!-- Javascript Imports -->
    {% include 'includes/toast-messages.html' %}
    {% include 'includes/js-imports.html' %}
  </body>
</html>
