@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Form input validation */

input.error {
  border-color: red;
}
div.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.heading-font {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: -10px;
  padding-bottom: 0;
}

.off-white {
  color: rgb(235, 235, 235);
}

header a {
  color: rgb(220, 220, 220);
  text-decoration: none;
  margin: 0 10px;
}

.lg-nav a {
  margin: 10px 30px;
  font-size: larger;
  color: rgb(220, 220, 220);
  text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(220, 220, 220);
  background-color: transparent;
}

.lg-nav {
  position: sticky;
  top: 0px;
  z-index: 98;
  width: 100%;
}

.search-and-filter-box {
  margin-bottom: 20px;
  position: sticky;
  top: 50px;
  z-index: 98;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.772);
  color: black;
  padding: 15px;
}

footer a {
  color: rgb(200, 200, 200);
  text-decoration: none;
  margin-top: 5px;
}

footer {
  margin-top: 200px;
}

footer a:hover,
header a:hover,
.lg-nav a:hover {
  color: rgb(208, 177, 20);
  text-decoration: underline;
}

header .heading-text a:hover {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

#logo {
  margin-bottom: -20px;
  margin-left: -15px;
  height: 14vw;
  max-height: 140px;
  z-index: 99;
  position: relative;
}

.watch-hero-info {
  position: absolute;
  bottom: 10px;
  right: -70px;
  font-size: 1.3rem;
}

.brand-image-homepage {
  width: 24vw;
}

.newsletter-footer {
  width: 350px;
}

.watch-container {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 15px 0;
  border-radius: 5px;
  margin: 20px 10px;
  cursor: pointer;
  color: black;
}

.watch-container img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.watch-images-container {
  display: flex;
}

.watch-extra-images {
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.watch-extra-images:hover {
  opacity: 0.7;
}

.main-product-image {
  cursor: pointer;
}

.bag-items-number {
  font-size: 14px;
  color: black;
  position: absolute;
  top: -3px;
  right: -1px;
}

.about-us p {
  line-height: 180%;
}

.about-us-image {
  border: 2px solid gold;
  border-radius: 5px;
  max-width: 250px;
  height: auto;
}

.sale-item-badge {
  font-size: larger;
  position: absolute;
  top: 10px;
  right: 10px;
}

#bookmark-icon {
  color: darkblue;
  font-size: xx-large;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#bookmark-icon:hover {
  transform: scale(1.2);
}

.product-details-container {
  max-width: 500px;
  position: relative;
}

.my-account-container {
  border: 1px solid rgba(0, 0, 0, 0.362);
  border-radius: 5px;
  min-width: 300px;
  max-width: 400px;
  padding: 10px 15px;
  margin: 10px;
}

.admin-container {
  border: 3px solid rgba(255, 174, 0, 0.868);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  max-width: 800px;
}

.wish-list-container {
  position: relative;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  max-width: 400px;
  padding: 10px;
  margin: 5px;
}

.remove-from-wishlist {
  color: rgba(0, 0, 0, 0.402);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.remove-from-wishlist:hover {
  color: black;
}

#search-box {
  background-color: rgba(0, 0, 0, 0.908);
  color: rgba(255, 207, 104, 0.868);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 34px;
  padding: 5px 25px;
}

#search-input {
  font-family: roboto;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.533);
  border-bottom: 1px solid rgba(255, 255, 255, 0.533);
  border-left: none;
  border-right: none;
  padding: 5px 10px;
  caret-color: rgba(255, 174, 0, 0.868);
  max-width: 300px;
}

#search-input:focus {
  outline: none;
}

#advanced-search-link {
  color: inherit;
}

#advanced-search-link:hover {
  color: white;
  transform: scale(1.1);
}

.checkout-product-container {
  position: relative;
  display: flex;
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.485);
  border-radius: 10px;
  margin: 10px 5px;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1 px solid black;
  border-radius: 5px;
  background-color: rgb(94, 94, 94);
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
  right: -4px;
}

.checkout-final-column {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 55px;
  right: 7px;
}

.checkout-final-column a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.checkout-final-column a:hover {
  text-decoration: underline;
}

#add-watch-care-plan {
  background-color: rgba(0, 0, 0, 0.278);
  height: 25px;
  width: 50px;
  cursor: pointer;
}

#add-watch-care-plan:checked {
  background-color: blue;
}

#newsletter-floating-signup {
  position: relative;
  z-index: 105;
  color: rgb(220, 220, 220);
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.908);
  border-color: rgba(255, 174, 0, 0.476);
}
.newsletter-signup-heading {
  color: rgba(255, 207, 104, 0.868);
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
}

#newsletter-close-button {
  color: rgba(255, 207, 104, 0.868);
  font-size: 30px;
  position: absolute;
  top: 6px;
  right: 13px;
  cursor: pointer;
}

#newsletter-close-button:hover {
  transform: scale(1.2);
}
