{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}
{% block content %}
  <div class="container col-12 mt-4 ">
    <h2 class="text-center mt-5">Checkout</h2>
    <p class="small text-center">Please review your information below.</p>
    <p class="small text-center">Then proceed to complete the required shipping details.</p>
    <br>
    <div>
      <table class="table">
        <tbody>
          <tr>
            <th colspan="3" class="text-center">Checkout Items</th>
          </tr>
          <tr>
            <th>Product</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          {% for item in checkout_items %}
            <tr>
              <td>
                <span>{{ item.product_name_text }}</span>
              </td>
              <td>$ {{ item.product_price }}</td>
              <td>x {{ item.quantity }}</td>
              <td>$ {{ item.subtotal }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td>
              <strong>Order Total</strong>
            </td>
            <td></td>
            <td></td>
            <td>
              $ <u>{{ order_total }}</u>
            </td>
          </tr>
          <tr>
            <td>
              <em class="text-muted">Watch Care Plan</em>
            </td>
            <td></td>
            <td></td>
            <td>
              {% if watch_care_plan_price > 0 %}
                <em>$ {{ watch_care_plan_price }}</em>
              {% else %}
                <em>NOT INLCUDED</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <em class="text-muted">Shipping</em>
            </td>
            <td></td>
            <td></td>
            <td>
              <em>$ 0</em>
            </td>
          </tr>
          <tr>
            <td>
              <strong>GRAND TOTAL</strong>
            </td>
            <td></td>
            <td></td>
            <td>
              <strong>$ {{ grand_total }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <span class="small text-primary">Note that fields marked with an asterisk *, are required</span>
    <br>
    <br>
    <form method='post'>
      {{ form|crispy }}
      {% csrf_token %}
    </form>
    <hr>
    <div>
      <form action="" id="discount-code-form" class="mb-3">
        <div class="form-floating mt-2 mb-1">
          <input type="text"
                 class="form-control mb-1"
                 id="discount-code-input"
                 placeholder="name@example.com">
          <label for="discount-code-input" class="text-success">Enter Discount Code Here</label>
          <button id="code-submit-button" type="submit" class="btn btn-success btn-sm">Check Code Validity</button>
        </form>
        <span id="code-success" class="fw-bold text-success" style="display: none">✓ $100 Discount Applied</span>
        <span id="code-error" class="fw-bold text-danger" style="display: none">That Code is Invalid</span>
      </div>
    </div>
    <span>Amount to be paid</span>
    <h4 class="mt-1 ms-2">
      $ <span id="amount-to-pay">{{ grand_total }}</span>
    </h4>
    <button type="submit" class="btn btn-lg btn-success my-2 me-2">Pay Securely Via Credit Card</button>
    <br>
  </div>
  <script src="{% static 'assets/js/checkout.js' %}" defer></script>
{% endblock %}
