{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Favicon -->
    <link rel="shortcut icon"
          href="{% static 'assets/favicon/favicon.ico' %}"
          type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <!-- Project CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <title>Heritage Company | Checkout</title>
  </head>
  <body>
    <header>
      <div class="bg-dark d-flex justify-content-center">
        <a href="{% url 'home' %}">
          <div class="text-center d-flex flex-column justify-content-center col-6 heading-text p-3">
            <h1 class="heading-font">Heritage Company</h1>
            <span>
              <em>Luxury Timepieces that form a legacy</em>
            </span>
          </a>
          <h1 class="mt-5 mb-3 text-light">SECURE CHECKOUT</h1>
        </div>
      </div>
    </header>
    <div class="container col-12 mt-4 mb-5">
      <p class="text-center">Please review your information below.</p>
      <p class="text-center">Then proceed to complete the required shipping details.</p>
      <br>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <th colspan="3" class="text-center">Checkout Items</th>
            </tr>
            <tr>
              <th>Product</th>
              <th>Product Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
            {% for item in checkout_items %}
              <tr>
                <td>
                  <span>{{ item.product_name_text }}</span>
                </td>
                <td>$ {{ item.product_price }}</td>
                <td>x {{ item.quantity }}</td>
                <td>$ {{ item.subtotal }}</td>
              </tr>
            {% endfor %}
            <tr>
              <td>
                <strong>Order Total</strong>
              </td>
              <td></td>
              <td></td>
              <td>
                $ <u>{{ order_total }}</u>
              </td>
            </tr>
            <tr>
              <td>
                <em class="text-muted">Watch Care Plan</em>
              </td>
              <td></td>
              <td></td>
              <td>
                {% if watch_care_plan_price > 0 %}
                  <em>$ {{ watch_care_plan_price }}</em>
                {% else %}
                  <em>NOT INLCUDED</em>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <em class="text-muted">Shipping</em>
              </td>
              <td></td>
              <td></td>
              <td>
                <em>$ 0</em>
              </td>
            </tr>
            <tr>
              <td>
                <strong>GRAND TOTAL</strong>
              </td>
              <td></td>
              <td></td>
              <td>
                <strong>$ {{ grand_total }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      {% if not user.is_authenticated %}
        <hr>
        <p>
          <em>Do we already have your details on record?</em>
        </p>
        <h5>
          Consider <a href="{% url 'account_login' %}">Singing in</a> to speed up the checkout process.
        </h5>
        <hr>
      {% endif %}
      <br>
      <span class="small text-primary">Note that fields marked with an asterisk *, are required</span>
      <br>
      <br>
      <form method='post' id="payment-form">
        <div class="mb-3">
          <label for="user-email" class="form-label">Email address*</label>
          <input name="user_email" type="email" class="form-control" id="user-email" placeholder="" {% if user.is_authenticated %}value={{ user.email }}{% endif %} required>
        </div>
        {{ form|crispy }}
        <hr>
        {% if not user.is_authenticated %}
          <div class="p-1 px-3">
            <hr>
            <p>
              <em>Should we save this information and create an account for you?</em>
            </p>
            <div class="form-check">
              <input class="form-check-input text-primary"
                     type="checkbox"
                     name="create_new_account"
                     value="True"
                     id="create-new-account">
              <label class="form-check-label" for="create-new-account">
                Yes, please create an account and email me a temporary password.
              </label>
            </div>
            <hr>
          </div>
        {% endif %}
        {% csrf_token %}
        <button id="submit-order"
                type="submit"
                class="btn btn-lg btn-success my-2 me-2">Continue to Payment</button>
      </form>
      <hr>
      <div>
        <form action="" id="discount-code-form" class="mb-3">
          <div class="form-floating mt-2 mb-1">
            <input type="text"
                   class="form-control mb-1"
                   id="discount-code-input"
                   placeholder="name@example.com">
            <label for="discount-code-input" class="text-success">Enter Discount Code Here</label>
            <button id="code-submit-button" type="submit" class="btn btn-success btn-sm">Check Code Validity</button>
          </form>
          <span id="code-success" class="fw-bold text-success" style="display: none">✓ $100 Discount Applied</span>
          <span id="code-error" class="fw-bold text-danger" style="display: none">That Code is Invalid</span>
        </div>
      </div>
      <span>Amount to be paid</span>
      <h4 class="mt-1 ms-2">
        $ <span id="amount-to-pay">{{ grand_total }}</span>
      </h4>
      <br>
    </div>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0d8d5fb198.js"
            crossorigin="anonymous"></script>
    <!-- Project Wide JavaScript -->
    <script src="{% static 'assets/js/project.js' %}" defer></script>
    <!-- Stripe Javascript -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Page Specific Javascript -->
    <script src="{% static 'assets/js/checkout.js' %}" defer></script>
    <!-- On Page (hidden) CSFR Token var Jquery Ajax -> Django Backend communication -->
    <script>let CSRF_TOKEN = '{{ csrf_token }}';</script>
  </body>
</html>
