/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Form input validation */

input.error {
  border-color: red;
}
div.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* base.html header styling */

header a {
  color: rgb(220, 220, 220);
  text-decoration: none;
  margin: 0 10px;
}

header .heading-text a:hover {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.heading-font {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: -10px;
  padding-bottom: 0;
}

.off-white {
  color: rgb(235, 235, 235);
}

.lg-nav a {
  margin: 10px 30px;
  font-size: larger;
  color: rgb(220, 220, 220);
  text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(220, 220, 220);
  background-color: transparent;
}

.lg-nav {
  position: sticky;
  top: 0px;
  z-index: 98;
  width: 100%;
}

#logo {
  margin-bottom: -20px;
  margin-left: -15px;
  height: 14vw;
  max-height: 140px;
  z-index: 99;
  position: relative;
}

/* shopping bag items in header, updated by javascript */

.bag-items-number {
  font-size: 14px;
  color: black;
  position: absolute;
  top: -3px;
  right: -1px;
}

/* search bar on base.html */

#advanced-search-link {
  color: inherit;
}

#advanced-search-link:hover {
  color: white;
  transform: scale(1.1);
}

#search-box {
  background-color: rgba(0, 0, 0, 0.908);
  color: rgba(255, 207, 104, 0.868);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 34px;
  padding: 5px 25px;
}

#search-input {
  font-family: roboto;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.533);
  border-bottom: 1px solid rgba(255, 255, 255, 0.533);
  border-left: none;
  border-right: none;
  padding: 5px 10px;
  caret-color: rgba(255, 174, 0, 0.868);
  max-width: 240px;
}

#search-input:focus {
  outline: none;
}

/* index.html hero section */

.watch-hero-info {
  position: absolute;
  bottom: 0;
  right: -100px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.26);
}

.watch-hero-info-left {
  position: absolute;
  bottom: 0;
  left: -100px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.258);
}

.watch-hero-info h2,
.watch-hero-info-left h2 {
  color: rgba(255, 207, 104, 0.868);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

.watch-hero-info span,
.watch-hero-info-left span {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  line-height: 150%;
}

.brand-image-homepage {
  width: 23vw;
  overflow: hidden;
  transform: scale(1);
  transition: 0.4s;
}

.brand-image-homepage:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

/* other styling for index.html */

.landing-page-bg-section {
  background-color: rgba(0, 0, 0, 0.15);
}

#landing-page-parallax {
  width: 100%;
  border: 1px solid #5a120a;
  background: url('../images/breitling-mens-watches.webp') no-repeat center /
    cover;
  background-size: 200%;
  background-position: 50% 70%;
  height: 280px;
}

/* styling for product list display pages */

.search-and-filter-box {
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 98;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.772);
  color: black;
  padding: 15px;
}

.sale-item-badge {
  font-size: larger;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 101;
}

#browse-watches-container {
  background-color: rgb(236, 236, 236);
}

#browse-watches-container a {
  overflow: hidden;
}

/* product container on all product detail display pages */

.watch-container {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 15px 0;
  border-radius: 5px;
  margin: 20px 10px;
  cursor: pointer;
  color: black;
}

.watch-images-container {
  display: flex;
}

.watch-extra-images {
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.watch-extra-images:hover {
  opacity: 0.7;
}

.main-product-image {
  cursor: pointer;
}

.product-details-container {
  max-width: 500px;
  position: relative;
}

#bookmark-icon {
  color: darkblue;
  font-size: xx-large;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#bookmark-icon:hover {
  transform: scale(1.2);
}

/* about_us.html styling */

.about-us p {
  line-height: 180%;
}

.about-us-image {
  border: 2px solid gold;
  border-radius: 5px;
  max-width: 250px;
  height: auto;
}

/* my_account.html styling */

.my-account-container {
  border: 1px solid rgba(0, 0, 0, 0.362);
  border-radius: 5px;
  min-width: 300px;
  max-width: 400px;
  padding: 10px 15px;
  margin: 10px;
}

.admin-container {
  border: 3px solid rgba(255, 174, 0, 0.868);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  max-width: 1200px;
}

.wish-list-container {
  position: relative;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  max-width: 400px;
  padding: 10px;
  margin: 5px;
}

.remove-from-wishlist {
  color: rgba(0, 0, 0, 0.402);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.remove-from-wishlist:hover {
  color: black;
}

/* checkout.html styling */

.checkout-product-container {
  position: relative;
  display: flex;
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.485);
  border-radius: 10px;
  margin: 10px 5px;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(94, 94, 94);
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
  right: -4px;
}

.checkout-final-column {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 55px;
  right: 7px;
}

.checkout-final-column a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.checkout-final-column a:hover {
  text-decoration: underline;
}

#add-watch-care-plan {
  background-color: rgba(0, 0, 0, 0.278);
  height: 25px;
  width: 50px;
  cursor: pointer;
}

#add-watch-care-plan:checked {
  background-color: blue;
}

/* Dynamically displayed extra newsletter signup on base.html */

.newsletter-signup-heading {
  color: rgba(255, 207, 104, 0.868);
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
}

#newsletter-floating-signup {
  position: relative;
  z-index: 105;
  color: rgb(220, 220, 220);
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.908);
  border-color: rgba(255, 174, 0, 0.476);
}

#newsletter-close-button {
  color: rgba(255, 207, 104, 0.868);
  font-size: 30px;
  position: absolute;
  top: 6px;
  right: 13px;
  cursor: pointer;
}

#newsletter-close-button:hover {
  transform: scale(1.2);
}

/* base.html footer styling */

footer a {
  color: rgb(200, 200, 200);
  text-decoration: none;
  margin-top: 5px;
}

footer {
  margin-top: 200px;
}

footer a:hover,
header a:hover,
.lg-nav a:hover {
  color: rgb(208, 177, 20);
  text-decoration: underline;
}

.newsletter-footer {
  width: 350px;
}

/* Adjust filter box positioning on medium sized screens */

@media screen and (min-width: 768px) {
  .search-and-filter-box {
    top: 50px;
  }
}

/* Activate parallax image scrolling effect on large screens */

@media screen and (min-width: 1200px) {
  #landing-page-parallax {
    width: 100%;
    border: 1px solid #5a120a;
    background: url('../images/breitling-mens-watches.webp') no-repeat center /
      cover;
    height: 280px;
    background-position: 50% 50%;
    background-attachment: fixed;
  }

  /* Update hero image captions on index.html on large screens */

  .watch-hero-info {
    bottom: 24px;
    right: -222px;
  }

  .watch-hero-info-left {
    bottom: 10px;
    left: -226px;
  }

  .watch-hero-info h3,
  .watch-hero-info-left h3 {
    font-size: 40px;
  }

  .watch-hero-info span,
  .watch-hero-info-left span {
    font-size: 24px;
  }
}
