{% extends 'base.html' %}
{% load static %}
{% block extra_title %}My Account{% endblock %}
{% block content %}
  <div class="container col-12 mt-4 about-us">
    <h2 class="text-center">Your Account</h2>
    <br>
    <!-- Options restricted to superuser -->
    {% if user.is_superuser %}
      <div class="row justify-content-center admin-container mx-auto">
        <h3 class="text-center">
          You are logged in as a <span style="color: rgb(255, 174, 0)">Store Administrator</span>
        </h3>
        <span class="small text-secondary text-center">You have user rights to manage the Heritage Company online storefront.</span>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <select class="form-select form-select-lg my-3"
                  aria-label=".form-select-lg example"
                  id="select-product-box">
            <option value="0" selected>Select an Existing Product</option>
            {% for product in products %}
              <option class="fs-6" value="{{ product.id }}">{{ product.get_watch_brand_display|upper }} {{ product.title }}</option>
            {% endfor %}
          </select>
          <div>
            <a id="add-new-product-button"
               class="btn btn-success m-2"
               href="{% url 'add_new_product' %}">Add a new Product</a>
            <a id="edit-product-button" class="btn btn-warning m-2 disabled" href="">Edit a product</a>
            <a id="delete-product-button"
               class="btn btn-danger m-2 disabled"
               href="">Delete a product</a>
          </div>
        </div>
        <hr>
        <div class="pb-2">
          <h5 class="text-center mb-4">Admin Functionality</h5>
          <div class="d-flex justify-content-evenly">
            <a href="{% url 'admin:checkout_order_changelist' %}"
               class="btn btn-warning">See Recent Orders</a>
            <a href="{% url 'admin:main_customermessage_changelist' %}"
               class="btn btn-warning">See Recent Messages</a>
            <a href="{% url 'admin:main_newslettersignup_changelist' %}"
               class="btn btn-warning">See Current Newsletter Subscribers</a>
            <a href="{% url 'admin:index' %}" class="btn btn-dark">Visit Admin Page</a>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Profile and Delivery Information -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 my-account-container">
        <h4>Your Profile</h4>
        <br>
        {% if user.userdetail.user_first_name == "" %}
          <p>
            <em class="text-danger">We do not have any of your delivery information yet.</em>
            <br>
            Please consider adding this to simplify your shopping experience with us.
          </p>
        {% else %}
          <table class="table">
            <tbody>
              <tr>
                <th colspan="2" class="text-center">Personal details</th>
              </tr>
              <tr>
                <td>First Name</td>
                <td>{{ user.userdetail.user_first_name }}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{ user.userdetail.user_last_name }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <tbody>
              <tr>
                <th colspan="2" class="text-center">Contact Information</th>
              </tr>
              <tr>
                <td>Phone Contact</td>
                <td>{{ user.userdetail.user_phone_number }}</td>
              </tr>
              <tr>
                <td>Email Address</td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <tbody>
              <tr>
                <th colspan="2" class="text-center">Delivery Information</th>
              </tr>
              <tr>
                <td>Street Address 1</td>
                <td>{{ user.userdetail.user_street_address1 }}</td>
              </tr>
              <tr>
                <td>Street Address 2</td>
                <td>{{ user.userdetail.user_street_address2 }}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{ user.userdetail.user_city }}</td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td>{{ user.userdetail.user_postcode }}</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>{{ user.userdetail.user_country }}</td>
              </tr>
            </tbody>
          </table>
          {% if user.userdetail.user_delivery_notes != '' %}
            <table class="table mb-5">
              <tbody>
                <tr>
                  <th class="text-center">Special Instructions</th>
                </tr>
                <tr>
                  <td class="text-center">{{ user.userdetail.user_delivery_notes }}</td>
                </tr>
              </tbody>
            </table>
          {% endif %}
          <span class="small text-primary"><em>See any errors?</em></span>
          <br>
        {% endif %}
        <a href="{% url 'update_profile' %}"
           class="btn btn-sm btn-outline-dark mt-2">Update Your Profile</a>
        <br>
      </div>
      <!-- Wish List -->
      <div class="col-12 col-md-4 my-account-container">
        <h4 class="mb-4">Your Wish List</h4>
        {% if wish_list|length == 0 %}
          <div class="d-flex justify-content-center flex-column">
            <em class="text-center">Your wish list is currently empty</em>
            <br>
            <a class="btn btn-outline-dark"  href="{% url 'all_products' %}">See our Collection</a>
          </div>
        {% else %}
          {% for product in wish_list %}
            <div class="wish-list-container">
              <i class="fa-solid fa-xmark remove-from-wishlist"></i>
              <span style="display: none">{{ product.id }}</span>
              <a href="{% url 'product_detail' product.id %}">
                <img src="{{ MEDIA_URL }}{{ product.image }}"
                     alt="{{ product.name }}"
                     height="100"
                     style="border: 1px solid rgba(0,0,0,.2)"
                     data-bs-placement="right"
                     data-bs-toggle="tooltip"
                     title="Visit Product Detail Page">
              </a>
              <div class="d-flex flex-column ms-2">
                <span><strong>{{ product.watch_brand }}</strong></span>
                <span class="small"><em>{{ product.title }}</em></span>
                <span>$ {{ product.price }}</span>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <!-- List of Past Purchases -->
      <div class="col-12 col-md-4 my-account-container">
        <h4>Your Past Purchases</h4>
        <br>
        {% if past_orders|length == 0 %}
          <div class="d-flex justify-content-center flex-column">
            <em class="text-center">You have not made any purchases yet.</em>
            <br>
            <a class="btn btn-outline-dark"  href="{% url 'all_products' %}">See our Collection</a>
          </div>
        {% else %}
          {% for order in past_orders %}
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="{{ forloop.counter }}">
                  <button class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapse-{{ forloop.counter }}"
                          aria-expanded="false"
                          aria-controls="collapse-{{ forloop.counter }}">
                    Order Number: {{ order.order_number }}
                  </button>
                </h2>
                <div id="collapse-{{ forloop.counter }}"
                     class="accordion-collapse collapse"
                     aria-labelledby="{{ forloop.counter }}"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span>Order Date: <strong>{{ order.date_ordered }}</strong></span>
                    <br>
                    <span>Order Total: <strong>$ {{ order.grand_total }}</strong></span>
                    <br>
                    <br>
                    <strong>Delivery:</strong>
                    <br>
                    <span>Street: <strong>{{ order.street_address1 }}</strong></span>
                    <br>
                    <span>City: <strong>{{ order.city }}</strong></span>
                    <br>
                    <span>Postcode: <strong>{{ order.postcode }}</strong></span>
                    <br>
                    <span>Country: <strong>{{ order.country }}</strong></span>
                    <br>
                    <br>
                    <span>Order Items:</span>
                    <br>
                    <!-- The field below is populated by the items_ordered function of the Order Model in models.py -->
                    {{ order.items_ordered|safe }}
                    <br>
                    <span>Watch Care Plan: <strong>
                      {% if order.watch_care_plan %}
                        INCLUDED
                      {% else %}
                        NOT INCLUDED
                      {% endif %}
                    </strong></span>
                  </div>
                </div>
              </div>
            </div>
            <br>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="ms-4 mt-4">
      <!-- Other User Options -->
      <h4>Other Settings</h4>
      <a href="{% url 'account_set_password' %}"
         class="btn btn-sm btn-outline-dark mt-2">Change Your Password</a>
      <br>
      <a href="{% url 'account_logout' %}"
         class="btn btn-sm btn-outline-dark mt-2">Log Out</a>
    </div>
  </div>
  <!-- Model and Toast Includes for the my_account page -->
  {% include '../includes/my_account_toasts.html' %}
  {% include '../includes/my_account_modals.html' %}
  <script src="{% static 'assets/js/my_account.js' %}" defer></script>
{% endblock %}
