<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="author" content="Leon A. Potgieter" />

<meta
  name="keywords"
  content="certified luxury watched, womens luxury watches, top luxury watch brands, men luxury watches, Breitling mens watch, cheapest tag heuer, Tissot watches, vintage omega watches, best swiss watches"
/>

<meta
  name="description"
  content="Discover timeless elegance at Heritage Company, your destination for luxury watches. Explore our curated collection of exquisite timepieces, blending classic craftsmanship with modern sophistication. Elevate your style with Heritage Company today."
/>
