{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Top Luxury Watch Brands{% endblock %}
{% block content %}
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Our Collection</h3>
        <div class="my-4">
          <p class="lh-lg">
            We are proud to showcase an exclusive selection of fine watches from some of the world’s most renowned brands: Breitling, TAG Heuer, Omega, and Tissot. Each brand offers its unique blend of precision, craftsmanship, and style, reflecting decades of horological expertise. Explore our curated assortment and discover the perfect luxury watch that complements your style.
          </p>
        </div>
        <hr />
        <div class="row d-none d-md-block mb-2">
          <img src="{% static 'assets/images/luxury-watches-for-sale.webp' %}"
               alt="luxury watches for sale" />
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% with path="all_products" %}
      {% include '../includes/search_and_filter.html' %}
    {% endwith %}
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <img src="{{ MEDIA_URL }}{{ product.image }}"
               alt="{{ product.watch_brand }} {{ product.title }}"
               width="300"
               height="auto" />
          <span class="text-uppercase">{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.pre_discount_price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
