{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Breitling Watches On Sale{% endblock %}
{% block content %}
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Breitling</h3>
        <div class="my-4">
          <p class="lh-lg">
            Breitling is synonymous with precision and innovation, renowned for its robust and high-performance timepieces. Founded in 1884, Breitling has a rich heritage in aviation, crafting watches that blend functionality with sophisticated style. Each Breitling watch is a testament to Swiss craftsmanship, offering durability and elegance, making it a perfect choice for those seeking a reliable and stylish companion. Below you can browse through the various Breitling watches on sale with us.
          </p>
        </div>
        <hr>
        <div class="row d-none d-md-block mb-2">
          <img src="{% static 'assets/images/breitling-watches-for-sale.webp' %}"
               alt="breitling watches on sale">
        </div>
      </div>
    </div>
  </div>
  <!-- Product Display -->
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% with path="breitling" %}
      {% include '../includes/search_and_filter.html' %}
    {% endwith %}
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <div style="overflow: hidden">
            <img src="{{ MEDIA_URL }}{{ product.image }}"
                 alt="{{ product.watch_brand }} {{ product.title }}"
                 width="300"
                 class="main-image">
          </div>
          <span>{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <!-- Page Specific Javascript -->
  <script src="{% static 'assets/js/image_hover.js' %}" defer></script>
{% endblock %}
