{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Buy Omega Watches{% endblock %}
{% block content %}
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Omega</h3>
        <div class="my-4">
          <p class="lh-lg">
            Omega is a prestigious brand known for its pioneering spirit and iconic designs. With a legacy dating back to 1848, Omega has been at the forefront of watchmaking innovation, including being the first watch on the moon. Renowned for its precision and classic elegance, vintage Omega watches are not just a timepiece but a symbol of excellence and timeless sophistication.
          </p>
        </div>
        <hr />
        <div class="row d-none d-md-block mb-2">
          <img src="{% static 'assets/images/omega-watches-for-sale.webp' %}"
               alt="buy omega watches" />
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% with path="omega" %}
      {% include '../includes/search_and_filter.html' %}
    {% endwith %}
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <img src="{{ MEDIA_URL }}{{ product.image }}"
               alt="{{ product.watch_brand }} {{ product.title }}"
               width="300"
               height="auto" />
          <span>{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
