{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid py-3 px-2 mt-2">
    <div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-center">
      <div class="watch-images-container">
        <div class="d-none {% if product.image2 %}d-md-flex{% endif %} flex-column">
          <img src="{{ MEDIA_URL }}{{ product.image }}"
               alt=""
               height="150"
               width="150"
               class="watch-extra-images" />
          {% if product.image2 %}
            <img src="{{ MEDIA_URL }}{{ product.image2 }}"
                 alt=""
                 height="150"
                 width="150"
                 class="watch-extra-images" />
          {% endif %}
          {% if product.image3 %}
            <img src="{{ MEDIA_URL }}{{ product.image3 }}"
                 alt=""
                 height="150"
                 width="150"
                 class="watch-extra-images" />
          {% endif %}
        </div>
        <img src="{{ MEDIA_URL }}{{ product.image }}"
             alt="{{ product.title }}"
             height="450"
             width="350"
             style="object-fit: cover"
             class="mx-3 mx-lg-5 main-product-image d-none d-md-block" />
        <div class="d-block d-md-none">
          <div id="carouselExampleIndicators"
               class="carousel slide carousel-dark"
               data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide-to="0"
                      class="active"
                      aria-current="true"
                      aria-label="Slide 1"></button>
              <button type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              <button type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{{ MEDIA_URL }}{{ product.image }}"
                     class="d-block w-100 object-fit-cover"
                     alt="..." />
              </div>
              {% if product.image2 %}
                <div class="carousel-item" data-bs-interval="10000">
                  <img src="{{ MEDIA_URL }}{{ product.image2 }}"
                       class="d-block w-100 object-fit-cover"
                       alt="..." />
                </div>
              {% endif %}
              {% if product.image3 %}
                <div class="carousel-item" data-bs-interval="10000">
                  <img src="{{ MEDIA_URL }}{{ product.image3 }}"
                       class="d-block w-100 object-fit-cover"
                       alt="..." />
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 ms-lg-5" style="max-width: 500px">
        <span class="fs-4">{{ product.watch_brand }}</span>
        <h3>{{ product.title }}</h3>
        {% if product.discount_percentage > 0 %}
          <span class="fs-6 text-decoration-line-through">$ {{ product.pre_discount_price }}</span>
          <span class="fw-bolder text-primary">&nbsp;$ {{ product.price }} USD</span>
          <div class="badge rounded-pill bg-info text-dark fw-6 ms-2">-{{ product.discount_percentage }}%</div>
        {% else %}
          <span class="fs-6">$ {{ product.price }} USD</span>
        {% endif %}
        <p class="ln-lg mt-4">{{ product.desc }}</p>
        <hr />
        <span>Watch Case Size: {{ product.watch_case_size }}mm</span>
        <br />
        <span>Watch Dial Color: {{ product.watch_dial_colour }}</span>
        <br />
        <span>Gender: {{ product.watch_gender }}</span>
        <hr />
        <div class="mt-5 mb-2">
          <button id="buy-button" class="btn btn-lg btn-dark mb-2">Buy this Watch</button>
          <button id="enquire-button"
                  class="btn btn-lg btn-outline-dark mb-2"
                  data-bs-toggle="modal"
                  data-bs-target="#contact-us-modal">Enquire</button>
        </div>
        <span class="small">
          <em>
            Heritage Company provides worldwide free shipping on all of its
            products.
            <br />
            Price not inclusive of country specific taxes.
          </em>
        </span>
      </div>
    </div>
  </div>
  <!-- Large Image Modal -->
  <div class="modal fade modal-lg"
       id="largeImageModal"
       tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
          <img src="{{ MEDIA_URL }}{{ product.image }}"
               alt="{{ product.title }}"
               width="780"
               id="modal-image" />
        </div>
      </div>
    </div>
  </div>
  <!-- Contact us Modal -->
  <div class="modal"
       tabindex="-1"
       id="contact-us-modal"
       data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <form id="customer-message-form">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <h5 class="modal-title text-white">Get in touch regarding this product</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Have a question or comment regarding this product. Let us know. We
              usually reply within 2 working days.
            </p>
            <div class="form-floating mb-3">
              <input type="text"
                     class="form-control"
                     id="name-input"
                     placeholder="Your Name"
                     required />
              <label for="name-input">Your Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email"
                     class="form-control"
                     id="email-input"
                     placeholder="name@example.com"
                     required />
              <label for="email-input">Your Email address</label>
            </div>
            <label for="product-name">Product Name</label>
            <input class="form-control mt-1 mb-3"
                   id="product-name"
                   type="text"
                   placeholder="{{ product.title }}"
                   value="{{ product.title }}"
                   disabled />
            <label for="product-ref">Product Reference Number</label>
            <input class="form-control mt-1 mb-3"
                   id="product-ref"
                   type="text"
                   placeholder="{{ product.ref }}"
                   value="{{ product.ref }}"
                   disabled />
            <label for="customer-message">Your Message</label>
            <textarea rows="3"
                      class="form-control"
                      aria-label="customer-message"
                      id="customer-message"
                      required></textarea>
          </div>
          <div class="modal-footer">
            <button id="send-message-button" type="submit" class="btn btn-outline-dark">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Bootstrap Toast for successfully adding item to Shopping Bag -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="added-to-cart-toast"
         class="toast hide"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
         data-bs-delay="6000">
      <div class="toast-header bg-success">
        <strong class="me-auto text-light">Item successfully added to bag</strong>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Your new
        <span class="text-success fw-bolder">{{ product.watch_brand }}</span>
        watch is waiting in the shopping bag.
      </div>
    </div>
  </div>
  <!-- Bootstrap Toast for successfully sending message -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="message-sent-toast"
         class="toast hide"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
         data-bs-delay="6000">
      <div class="toast-header bg-success">
        <strong class="me-auto text-light">Message succesfully sent</strong>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
      <div class="toast-body">We'll get back to you within 2 working days.</div>
    </div>
  </div>
  <span style="display: none" id="product-id">{{ product.id }}</span>
  <script src="{% static 'assets/js/product_detail.js' %}" defer></script>
  <!-- On Page (hidden) CSFR Token var Jquery Ajax -> Django Backend communication -->
  <script>let CSRF_TOKEN = '{{ csrf_token }}';</script>
{% endblock %}
