{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Tag Heuer For Sale{% endblock %}
{% block content %}
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Tag Heuer</h3>
        <div class="my-4">
          <p class="lh-lg">
            TAG Heuer is a brand that embodies the spirit of innovation and avant-garde design. Founded in 1860, it is known for its sporty and bold timepieces that push the boundaries of precision and performance. With a strong connection to motorsports, TAG Heuer watches are ideal for individuals who value cutting-edge technology and contemporary style.
          </p>
        </div>
        <hr>
        <div class="row d-none d-md-block mb-2">
          <img src="{% static 'assets/images/tag-heuer-watches-for-sale.webp' %}"
               alt="cheapest tag heuer">
        </div>
      </div>
    </div>
  </div>
  <!-- Product Display -->
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% with path="tag_heuer" %}
      {% include '../includes/search_and_filter.html' %}
    {% endwith %}
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <div style="overflow: hidden">
            <img src="{{ MEDIA_URL }}{{ product.image }}"
                 alt="{{ product.watch_brand }} {{ product.title }}"
                 class="main-image"
                 width="300">
          </div>
          <span>{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.pre_discount_price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <!-- Page Specific Javascript -->
  <script src="{% static 'assets/js/image_hover.js' %}" defer></script>
{% endblock %}
