{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Tissot Watches{% endblock %}
{% block content %}
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Tissot</h3>
        <div class="my-4">
          <p class="lh-lg">
            Tissot, established in 1853, is celebrated for its blend of tradition and innovation. Known for its exceptional value and high-quality craftsmanship, Tissot offers a diverse range of stylish and reliable watches. With a commitment to precision and durability, Tissot watches are perfect for those who appreciate quality and style without compromise.
          </p>
        </div>
        <hr />
        <div class="row d-none d-md-block mb-2">
          <img src="{% static 'assets/images/tissot-watches-for-sale.webp' %}"
               alt="tissot watches" />
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% with path="tissot" %}
      {% include '../includes/search_and_filter.html' %}
    {% endwith %}
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <img src="{{ MEDIA_URL }}{{ product.image }}"
               alt="{{ product.watch_brand }} {{ product.title }}"
               width="300"
               height="auto" />
          <span>{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
