{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Tissot</h3>
        <p class="lh-lg">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ea
          eligendi unde dolorem, ex minima distinctio, ipsam hic, iure odit
          quisquam consequuntur ab obcaecati adipisci impedit sint id sapiente
          magni.
        </p>
        <hr />
        <div class="row d-none d-md-block mb-2">
          <img src="{% static 'assets/images/on_sale.webp' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% include '../includes/search_and_filter.html' %}
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <img src="{{ MEDIA_URL }}{{ product.image }}"
               alt="{{ product.watch_brand }} {{ product.title }}"
               width="300"
               height="auto" />
          <span>{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
