<div class="container col-lg-6 mt-5 d-flex flex-column align-items-center justify-content-center">
  <h2>Hi There! Thanks for signing up to the Heritage Company Newsletter</h2>
  <p>
    In order to ensure we can send you our newsletters without
    <br>
    problem, we need you to verify your e-mail addresss.
  </p>
  <p>
    <em>
      Verifying is also the final step in receiving your one-off Heritage
      Company
      <strong>discount code</strong>
      .
    </em>
  </p>
  <h3 class="text-center text-success">Please use the link below to verify your email adress</h3>
</div>
<a class="fs-2" href="{{ link }}">CLICK TO VERIFY YOUR EMAIL</a>
<br>
<br>
<br>
<p style="font-size: 10px">
  In case that link is not clickable, please copy and paste the below URL intro
  your browser address bar:
</p>
<span style="font-size: 10px">{{ link }}</span>
<br>
<span>_______________</span>
<br>
<span>HERITAGE COMPANY</span>
<br>
<span>Exquisite Timepieces. Timeless Heritage.</span>
<br>
<br>
<span class="small">This email and any attachments are confidential and may contain privileged information. If you are not the intended recipient, please notify the sender immediately and delete this email. Unauthorized use, disclosure, or copying is strictly prohibited.</span>
<br>
