<div
  class="container col-lg-6 mt-5 d-flex flex-column align-items-center justify-content-center"
>
  <h2>Here's your discount code to use on the Heritage Company Website</h2>
  <p>
    This code allows you $100 USD off of the purchase price of any item on the
    Heritage Company storefront. The code is also valid on already discounted
    items.
  </p>
  <h3 class="text-center text-success">
    Please use the code below during checkout
  </h3>
  <h2 style="color: green; font-size: 24px">{{ code }}</h2>
  <br />
  <a
    style="font-size: 18px"
    href="https://heritage-company-386a48d92bd9.herokuapp.com/"
  >
    VISIT THE STORE
  </a>
</div>
