{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container col-lg-7 mt-4 about-us">
    <h2 class="text-center">About Heritage Company</h2>
    <p class="text-center my-4 pb-3 fs-4">
      “Tradition is not the worship of ashes,
      <br />
      but the transmission of fire.”
      <em>- Gustav Mahler</em>
    </p>
    <p>
      <img src="{% static 'assets/images/about/about-heritage-company-1.webp' %}"
           alt=""
           class="about-us-image"
           style="float: left;
                  margin-right: 15px" />
      Timepieces are more than just accessories, they're heirlooms. Luxury watches
      are luxurious not just because of the obvious - that they are crafted with
      precision and present the best amplification of crafstmanship a timepiece
      artisan has to offer, but also because they are designed to accompany you
      through life’s milestones, from the first promotion to the birth of your
      child, symbolizing your journey of success and growth. We believe in the
      power of legacy.
      <br />
      <br />
      Each watch we offer is a testament to enduring quality and timeless
      elegance, destined to be passed down through generations. As you start your
      family and build your future, consider one of our timepieces not only as a
      statement of your achievements but as a gift of heritage to your children.
      It’s a way to share your story, a tangible piece of your hard work and
      dedication that they can cherish forever.
    </p>
    <br />
    <p>
      <img src="{% static 'assets/images/about/about-heritage-company-4.webp' %}"
           alt=""
           class="about-us-image"
           style="float: right;
                  margin-left: 15px"
           width="200" />
      Imagine the day when your child is ready to step into their own future,
      wearing the watch you once chose with care. It’s a bond that transcends
      time, a connection between past, present, and future. At Heritage Company,
      we are dedicated to helping you create these unforgettable moments, ensuring
      that your legacy is beautifully preserved.
      <br />
      <br />
      Explore our collection, and find the perfect watch that speaks to your
      personal journey and aspirations. Start your legacy today with Heritage
      Company, and let your story be one that echoes through the ages. Each family
      has its own traditions and purchasing an expensive timepiece is, in many
      ways, the start of a new tradition. A passing of the fire... as Gustav
      Mahler so eloquently put it.
    </p>
    <br />
    <hr />
    <p>
      <img src="{% static 'assets/images/logo_new.webp' %}"
           alt=""
           class="about-us-image"
           style="float: left;
                  border: none;
                  margin-right: 15px" />
      Heritage Company was founded in 1984, inspired by a deeply personal moment.
      The founder received his first luxury timepiece from his father, a cherished
      inheritance that symbolized more than just the passage of time. This
      heirloom, passed down through generations, sparked a vision in him to create
      a brand that celebrated such legacies.
      <br />
      <br />
      Driven by the desire to craft timepieces that would become treasured family
      heirlooms, Heritage Company was established. Each watch is given the same
      attention to detail and timeless elegance that his father's gift embodied,
      ensuring that every piece becomes a lasting legacy for its owner.
    </p>
    <div class="d-flex align-items-center flex-column">
      <button class="btn btn-lg btn-outline-dark my-4">Questions? Get In Touch</button>
      <img src="{% static 'assets/images/about/about-heritage-company-3.webp' %}"
           alt=""
           style="display: block"
           class="about-us-image" />
    </div>
    <br />
    <!-- FAQ -->
    <h3 class="mt-5 mb-4 text-center">Frequently Asked Questions</h3>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne">1. What is the origin of Heritage Company?</button>
        </h2>
        <div id="collapseOne"
             class="accordion-collapse collapse"
             aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Heritage Company was founded in 1984 by an owner who was inspired by
              the timeless elegance of a luxury watch inherited from his father.
              This heirloom ignited his passion for offering exquisite timepieces
              designed to be passed down through generations.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo">2. What makes Heritage Company watches unique?</button>
        </h2>
        <div id="collapseTwo"
             class="accordion-collapse collapse"
             aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              We curate a selection of the finest luxury watch brands, known for
              their exceptional craftsmanship and timeless designs. Each piece in
              our collection embodies superior quality and elegance, ensuring it
              will be a cherished heirloom for years to come.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree">3. Where are your watches manufactured?</button>
        </h2>
        <div id="collapseThree"
             class="accordion-collapse collapse"
             aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              We offer watches from esteemed brands, primarily crafted in
              Switzerland, renowned for its exceptional watchmaking tradition.
              This ensures that every timepiece we sell meets the highest
              standards of quality and precision.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour">4. Do your watches come with a warranty?</button>
        </h2>
        <div id="collapseFour"
             class="accordion-collapse collapse"
             aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Yes, every watch we sell comes with the manufacturer's warranty,
              which typically covers manufacturing defects and craftsmanship. We
              provide full support to assist with any warranty-related issues.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive">5. How do I care for my Heritage Company watch?</button>
        </h2>
        <div id="collapseFive"
             class="accordion-collapse collapse"
             aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              To ensure longevity, we recommend regular maintenance, such as
              professional cleaning and servicing every 3-5 years. Avoid exposing
              your watch to extreme temperatures, magnetic fields, and water if
              it’s not specifically designed to be waterproof.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix">6. What is your return policy?</button>
        </h2>
        <div id="collapseSix"
             class="accordion-collapse collapse"
             aria-labelledby="headingSix"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              We offer a 30-day return policy for unworn and undamaged watches in
              their original packaging. If you’re not completely satisfied with
              your purchase, please <a href="{% url 'contact_us' %}"></a> contact our customer service team to initiate
              a return or exchange.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven"
                  aria-expanded="false"
                  aria-controls="collapseSeven">7. Are there additional shipping costs?</button>
        </h2>
        <div id="collapseSeven"
             class="accordion-collapse collapse"
             aria-labelledby="headingSeven"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>No, all our products ship worldwide for free.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
