{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Certified Luxury Watches{% endblock %}
{% block content %}
  <!-- Hero Carousel-->
  <div id="landing-page-carousel"
       class="carousel slide carousel-fade position-relative d-none d-md-block"
       data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button"
              data-bs-target="#landing-page-carousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
      <button type="button"
              data-bs-target="#landing-page-carousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5500">
        <img src="{% static 'assets/images/tag-heuer-banner.webp' %}"
             class="d-block w-100"
             alt="TAG Heuer Carrere Chronograph X Porsche">
        <div class="carousel-caption d-none d-md-block">
          <div class="watch-hero-info-left d-flex flex-column">
            <h2>TAG HEUER</h2>
            <span>Carrera Chronograph
              <br>
            X Porsche</span>
            <a href="{% url 'product_detail' 30 %}" class="btn btn-lg btn-dark mt-3">Buy this Watch</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5500">
        <img src="{% static 'assets/images/omega-banner.webp' %}"
             class="d-block w-100"
             alt="OMEGA Speedmaster Moonwatch Professional">
        <div class="carousel-caption d-none d-md-block">
          <div class="watch-hero-info d-flex flex-column">
            <h2>OMEGA</h2>
            <span>Speedmaster
              <br>
            Moonwatch Professional</span>
            <a href="{% url 'product_detail' 28 %}" class="btn btn-lg btn-dark mt-3">Buy this Watch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="browse-watches-container" class="pb-3">
    <div class="d-flex justify-content-center p-4">
      <h5 class="mx-auto d-md-none">Browse our watches by brand:</h5>
      <h2 class="mx-auto d-none d-md-block">Browse our watches by brand:</h2>
    </div>
    <div id="product-images-homepage"
         class="d-flex justify-content-evenly animate__animated">
      <a href="{% url 'breitling' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/breitling-watches-on-sale.webp' %}"
             alt="Breitling Watches On Sale">
      </a>
      <a href="{% url 'tag_heuer' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/tag-heuer-for-sale.webp' %}"
             alt="Tag Heuer For Sale">
      </a>
      <a href="{% url 'omega' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/buy-omega-watches.webp' %}"
             alt="Buy Omega Watches">
      </a>
      <a href="{% url 'tissot' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/tissot-watches-men.webp' %}"
             alt="Tissot Watches Men">
      </a>
    </div>
  </div>
  <div class="p-3 p-md-5 bg-dark off-white text-center">
    <p class="text-center my-4 pb-3 fs-3 ln-lg">
      “Tradition is not the worship of ashes,
      but the transmission of fire.”
      <em>- Gustav Mahler</em>
    </p>
  </div>
  <div class=" d-flex justify-content-center py-4 mt-2 mt-md-5">
    <div class="col-12 col-md-7 p-2">
      <p id="motivation-text" class="fs-5 animate__animated">
        <img src="{% static 'assets/images/about/about-heritage-company-1.webp' %}"
             alt="About Heritage Company"
             width="450"
             style="float: left;
                    margin-right: 15px">
        Timepieces are more than just accessories, they're heirlooms. Certified Luxury watches
        are luxurious not just because of the obvious - that they are crafted with
        precision and present the best amplification of crafstmanship a timepiece
        artisan has to offer, but also because they are designed to accompany you
        through life’s milestones.
        <br>
        <br>
        From the first promotion to the birth of your
        child, symbolizing your journey of success and growth. We believe in the
        power of legacy.
      </p>
    </div>
  </div>
  <br>
  <br class="d-none d-md-block">
  <!-- Parallax Image / Static below 1200px -->
  <div id="landing-page-parallax"></div>
  <br class="d-none d-md-block">
  <br>
  <div class="d-flex justify-content-center py-4 mt-5 landing-page-bg-section">
    <div class="col-12 col-md-6 p-2">
      <p class="fs-4">
        <img src="{% static 'assets/images/heritage-customer-1.jpg' %}"
             alt="Heritage Customer Testimonial"
             width="250"
             style="float: left;
                    margin-right: 15px">
        “Heritage Company understands the value of tradition. They're obviously interested in so much more than mere profit. Kudos”
        <br>
        <em>Ryan from Singapore</em>
      </p>
    </div>
  </div>
  <br>
  <div class="container p-3 mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Some of our top products</h3>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-evenly">
    {% for product in products %}
      <a href="{% url 'product_detail' product.id %}"
         style="text-decoration: none">
        <div class="col watch-container position-relative">
          {% if product.discount_percentage > 0 %}
            <span class="badge rounded-pill bg-info text-dark sale-item-badge">-{{ product.discount_percentage }}%</span>
          {% endif %}
          <div style="overflow: hidden">
            <img src="{{ MEDIA_URL }}{{ product.image }}"
                 alt="{{ product.watch_brand }} {{ product.title }}"
                 width="300"
                 class="main-image">
          </div>
          <span class="text-uppercase">{{ product.get_watch_brand_display }}</span>
          <span><strong>{{ product.short_title }}</strong></span>
          <div>
            {% if product.discount_percentage > 0 %}
              <span class="text-decoration-line-through">$ {{ product.pre_discount_price }}</span>
              <span class="fw-bolder text-primary">$ {{ product.price }} USD</span>
            {% else %}
              <span>$ {{ product.price }} USD</span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <div class=" d-flex justify-content-center py-4 mt-5 landing-page-bg-section">
    <div class="col-12 col-md-6 p-2">
      <p class="fs-4 text-end">
        <img src="{% static 'assets/images/heritage-customer-2.jpg' %}"
             alt="Heritage Customer Testimonial"
             width="260"
             style="float: right;
                    margin-left: 15px">
        “My experience with Heritage Company,
        has left me wanting when visiting other dealers.”
        <br>
        <em>Anne from France</em>
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex justify-content-center">
    <a href="{% url 'all_products' %}" class="btn btn-lg btn-outline-dark">Browse Our Entire Collection</a>
  </div>
  <br>
  <br>
  <div class="d-flex justify-content-center border border-3 rounded p-2">
    <div class="col-12 col-md-6 p-1">
      <p class="fs-4 text-start">
        <img src="{% static 'assets/images/best-swiss-watches.webp' %}"
             alt="best swiss watches"
             width="350"
             style="float: left;
                    margin-right: 15px">
        We offer some of the best Swiss watches and affordable luxury watches from esteemed brands. These historical brands are renowned for their exceptional watchmaking tradition.
        This ensures that every timepiece we sell meets the highest
        standards of quality and precision.
      </p>
    </div>
  </div>
  <br>
  <!-- Page specific Javascript Imports -->
  <script src="{% static 'assets/js/index.js' %}" defer></script>
  <script src="{% static 'assets/js/image_hover.js' %}" defer></script>
{% endblock %}
