{% extends 'base.html' %} {% load static %} {% block content %}

<div class="d-flex justify-content-center p-4">
  <h5 class="mx-auto d-md-none">Browse our watches by brand:</h5>
  <h2 class="mx-auto d-none d-md-block">Browse our watches by brand:</h2>
</div>
<div class="d-flex">
  <img
    class="brand-image-homepage"
    src="static/assets/images/breatling.webp"
    alt=""
  />
  <img
    class="brand-image-homepage"
    src="static/assets/images/tagheuer.webp"
    alt=""
  />
  <img
    class="brand-image-homepage"
    src="static/assets/images/omega.webp"
    alt=""
  />
  <img
    class="brand-image-homepage"
    src="static/assets/images/tissot.webp"
    alt=""
  />
</div>
<div class="p-5 bg-dark off-white text-center">
  <h4 class="mx-auto my-3">'Some more text about our company'</h4>
  <p class="lh-lg">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.!"
  </p>
</div>

{% endblock %}
