{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Certified Luxury Watches{% endblock %}
{% block content %}
  <div id="landing-page-carousel"
       class="carousel slide carousel-fade position-relative"
       data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button"
              data-bs-target="#landing-page-carousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
      <button type="button"
              data-bs-target="#landing-page-carousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5500">
        <img src="{% static 'assets/images/tag-heuer-banner.webp' %}"
             class="d-block w-100"
             alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <div class="watch-hero-info-left d-flex flex-column">
            <h3>TAG HEUER</h3>
            <span>Carrera Chronograph
              <br>
            X Porsche</span>
            <button class="btn btn-lg btn-outline-light mt-3">Buy this Watch</button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5500">
        <img src="{% static 'assets/images/omega-banner.webp' %}"
             class="d-block w-100"
             alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <div class="watch-hero-info d-flex flex-column">
            <h3>OMEGA</h3>
            <span>Speedmaster
              <br>
            Moonwatch Professional</span>
            <button class="btn btn-lg btn-outline-light mt-3">Buy this Watch</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="browse-watches-container" class="pb-3">
    <div class="d-flex justify-content-center p-4">
      <h5 class="mx-auto d-md-none">Browse our watches by brand:</h5>
      <h2 class="mx-auto d-none d-md-block">Browse our watches by brand:</h2>
    </div>
    <div id="product-images-homepage"
         class="d-flex justify-content-evenly animate__animated">
      <a href="{% url 'breitling' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/breitling-watches-on-sale.webp' %}"
             alt="" />
      </a>
      <a href="{% url 'tag_heuer' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/tag-heuer-for-sale.webp' %}"
             alt="" />
      </a>
      <a href="{% url 'omega' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/buy-omega-watches.webp' %}"
             alt="" />
      </a>
      <a href="{% url 'tissot' %}">
        <img class="brand-image-homepage"
             src="{% static 'assets/images/tissot-watches-men.webp' %}"
             alt="" />
      </a>
    </div>
  </div>
  <div class="p-5 bg-dark off-white text-center">
    <h4 class="mx-auto my-3">'Some more text about our company'</h4>
    <p class="lh-lg">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.!"
    </p>
  </div>
  <script src="{% static 'assets/js/index.js' %}" defer></script>
{% endblock %}
